/**
 * * Tailwind theme settings
 * 
 * These are in a separate file so it can be imported into <style> tags in .astro components
 */
@theme {
	/* cosmic themes theme config */
	/* primary colors. Can generate with https://uicolors.app/create, then convert to oklch with https://oklch.com/ */
	--color-primary-50: oklch(0.9691 0.0151 17.42);
	--color-primary-100: oklch(0.93 0.0355 17.81);
	--color-primary-200: oklch(0.8748 0.0666 19.65);
	--color-primary-300: oklch(0.7938 0.1188 20.69);
	--color-primary-400: oklch(0.6999 0.1909 24.11);
	--color-primary-500: oklch(0.6479 0.2379 27.42);
	--color-primary-600: oklch(0.6062 0.2423 28.83);
	--color-primary-700: oklch(0.5456 0.2194 28.96);
	--color-primary-800: oklch(0.4646 0.1833 28.69);
	--color-primary-900: oklch(0.408 0.153 27.71);
	--color-primary-950: oklch(0.2659 0.103 28.7);

	/* base colors */
	--color-base-50: var(--color-neutral-50);
	--color-base-100: var(--color-neutral-100);
	--color-base-200: var(--color-neutral-200);
	--color-base-300: var(--color-neutral-300);
	--color-base-400: var(--color-neutral-400);
	--color-base-500: var(--color-neutral-500);
	--color-base-600: var(--color-neutral-600);
	--color-base-700: var(--color-neutral-700);
	--color-base-800: var(--color-neutral-800);
	--color-base-900: var(--color-neutral-900);
	--color-base-950: var(--color-neutral-950);

	/* other theme settings */
	--color-dark-bg: hsl(0, 0%, 1%);
	--button-transition-properties:
		box-shadow, color, background-color, border-color, text-decoration-color, fill, stroke;

	/* layout settings */
	--screen-xs: 400px;
	--screen-sm: 640px;
	--screen-md: 768px;
	--screen-lg: 1024px;
	--screen-xl: 1280px;
	--screen-2xl: 1536px;

	/* font families */
	--font-fallback:
		"-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif",
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-sans: "InterVariable", var(--font-fallback);
	--font-mono:
		"SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", "monospace";

	/* starwind and cosmic themes animations */
	--animate-accordion-down: accordion-down 0.3s ease-out;
	--animate-accordion-up: accordion-up 0.3s ease-out;
	--animate-marquee-integrations: marquee-integrations 100s linear infinite;
	--animate-marquee2: marquee2 70s linear infinite;
	--animate-marquee-testimonials: marquee-testimonials 60s linear infinite;
	--animate-borderRotation: borderRotation 10s linear infinite;
	--animate-flash: flash 5s ease-out infinite;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--starwind-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--starwind-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes marquee-integrations {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - 0rem));
		}
	}

	@keyframes marquee2 {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - 5rem));
		}
	}

	@keyframes marquee-testimonials {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(calc(-100% - 1.5rem));
		}
	}

	@keyframes borderRotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes flash {
		from {
			opacity: 0;
		}
		90% {
			opacity: 0;
		}
		92% {
			opacity: 0.6;
		}
		93% {
			opacity: 0.2;
		}
		96% {
			opacity: 0.9;
		}
		to {
			opacity: 0;
		}
	}
}

/* "inline" option is necessary here https://github.com/tailwindlabs/tailwindcss/discussions/15122#discussioncomment-11356322 */
@theme inline {
	/* starwind utilities setup */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-dark: var(--primary-dark);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-info: var(--info);
	--color-info-foreground: var(--info-foreground);
	--color-success: var(--success);
	--color-success-foreground: var(--success-foreground);
	--color-warning: var(--warning);
	--color-warning-foreground: var(--warning-foreground);
	--color-error: var(--error);
	--color-error-foreground: var(--error-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-outline: var(--outline);

	--radius-xs: calc(var(--radius) - 0.375rem);
	--radius-sm: calc(var(--radius) - 0.25rem);
	--radius-md: calc(var(--radius) - 0.125rem);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 0.25rem);
	--radius-2xl: calc(var(--radius) + 0.5rem);
	--radius-3xl: calc(var(--radius) + 1rem);
}
